HOSTNAME=your_value_here
ROUTE_PREPEND=your_value_here
API_VERSION=your_value_here
APP_VERSION=your_value_here
VERSION=your_value_here
PORT=your_value_here
MONGODB_URI=your_value_here
MONGODB_DBNAME=your_value_here
ENCRYPTION_KEY=your_value_here
API_KEY=your_value_here
JWT_KEY=your_value_here
NODE_ENV=your_value_here
MONGO_URI=your_value_here
INFISICAL_URI=your_value_here
INFISICAL_PROJECT_ID=your_value_here
INFISICAL_CLIENT_ID=your_value_here
INFISICAL_CLIENT_SECRET=your_value_here
INFISICAL_ENV=your_value_here
